body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("city.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.navbar {
    background-color: gray;
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.navbar a:hover {
    text-decoration: underline;
}

#skibity {
    margin-left: 470px;
    margin-top: 500px;

}

#tvman1 {
    width: 400px;
}

.fa-solid {
margin-left: -50px;

}
